@import url(./reset.css);
@import url(./variables.css);
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

.container {
  width: var(--container_width);
  height: var(--container_height);
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "room_details room_details room_details room_details"
    "your_style your_style your_style your_style"
    "footer footer footer footer";
  margin: 25px auto;
}

header {
  grid-area: header;
  box-shadow: 5px 5px 5px lightgray;
  margin-bottom: var(--size_lg);
}

header > figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size_xs);
}

.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > figure > img {
  width: 790.4px;
  height: 336.7px;
  margin: var(--size_xl);
}

.room_details {
  border: 1px solid blue;
  grid-area: room_details;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.room_details__rooms > figure > img {
  width: 410px;
  height: 230px;
}

.your_style {
  border: 1px solid orange;
  grid-area: your_style;
}

footer {
  border: 1px solid cyan;
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--mobile_container_width);
  }

  .hero > figure > img {
    width: 364.8px;
    height: 155.4px;
    margin: var(--size_md);
  }

  .room_details {
    display: block;
  }
}
