@import url(./reset.css);
@import url(./variables.css);
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

body {
  overflow-x: hidden;
}

.container {
  width: var(--container_width);
  height: var(--container_height);
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "room_details room_details room_details room_details"
    "your_style your_style your_style your_style"
    "footer footer footer footer";
  margin: 25px auto;
}

header {
  grid-area: header;
  box-shadow: 5px 5px 5px lightgray;
  margin-bottom: var(--size_lg);
}

header > figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size_xs);
}

.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > figure > img {
  width: 790.4px;
  height: 336.7px;
  margin: var(--size_xl);
}

.room_details {
  grid-area: room_details;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 5rem auto;
}

.room_details__rooms {
  margin-right: var(--size_xxl);
}

.room_details__rooms > img {
  width: 30rem;
}

.room_details__block_all {
  background-color: #eee;
  padding: var(--size_md);
}

.room_details__header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: var(--size_md);
  font-size: var(--size_lg);
  color: var(--bg_secondary__alt);
}

.room_details__header_block > a {
  text-decoration: none;
  color: white;
  padding: var(--size_sm) var(--size_lg);
  border-radius: 10.5px;
}

.room_details__link1 {
  background-color: #51d275;
}

.room_details__link2 {
  background-color: #dc9730;
}

.your_style {
  grid-area: your_style;
  width: 100%;
}

.your_style > header {
  box-shadow: none;
}

.your_style > header > h1 {
  font-size: var(--size_xl);
  color: var(--bg_secondary__alt);
  text-align: center;
}

.your_style > article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size_lg);
}

.your_style > article > span {
  font-size: var(--size_xl);
  color: white;
}

.your_style__description_industrial {
  background-image: url(../img/industrial_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}

.your_style__description_modern {
  background-image: url(../img/modern_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}

.your_style__description_classic {
  background-image: url(../img/classic_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}

footer {
  grid-area: footer;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--size_xxl);
}

footer > figure > img {
  width: 30rem;
}

footer > .address {
  font-size: var(--size_lg);
}

.address > article,
address {
  padding: var(--size_md);
}

.address > figure > a > img {
  width: 3rem;
  padding: var(--size_sm);
  margin: 0 var(--size_md);
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--mobile_container_width);
  }

  .hero > figure > img {
    width: 364.8px;
    height: 155.4px;
    margin: var(--size_md);
  }

  .room_details {
    display: inline-block;
    margin: 0 auto;
  }

  .room_details__rooms > img {
    width: 22rem;
  }

  .your_style {
    width: 84.5%;
    margin-top: var(--size_md);
  }

  footer {
    display: block;
    margin: 0 auto;
  }

  footer > figure {
    margin: 50px auto;
  }

  footer > figure > img {
    width: 18rem;
    padding: var(--size_lg);
  }

  footer > article > h4,
  span {
    font-size: var(--size_md);
  }

  .footer_social_media {
    font-size: var(--size_md);
    text-align: center;
  }
}
